{
    "openapi": "3.0.0",
    "info": {
        "title": "DocBee REST API",
        "description": "The DocBee REST API Documentation",
        "version": "2025.3.0"
    },
    "servers": [
        {
            "url": "https:\/\/pcs.docbee.com\/restApi"
        }
    ],
    "tags": [
        {
            "name": "ai"
        },
        {
            "name": "authorization"
        },
        {
            "name": "errorLog"
        },
        {
            "name": "agreement"
        },
        {
            "name": "agreementCategory"
        },
        {
            "name": "agreementComponent"
        },
        {
            "name": "agreementComponentTemplate"
        },
        {
            "name": "agreementInvoice"
        },
        {
            "name": "agreementPeriod"
        },
        {
            "name": "agreementTemplate"
        },
        {
            "name": "away"
        },
        {
            "name": "awayReason"
        },
        {
            "name": "calendarSiteConfig"
        },
        {
            "name": "companyData"
        },
        {
            "name": "confidentialTag"
        },
        {
            "name": "contingent"
        },
        {
            "name": "contingentItem"
        },
        {
            "name": "contingentElement"
        },
        {
            "name": "contingentItemRecurrence"
        },
        {
            "name": "costEstimation"
        },
        {
            "name": "costEstimationSubTask"
        },
        {
            "name": "costEstimationTask"
        },
        {
            "name": "costEstimationTemplate"
        },
        {
            "name": "costEstimationSubTaskTemplate"
        },
        {
            "name": "costEstimationTaskTemplate"
        },
        {
            "name": "customColor"
        },
        {
            "name": "customField"
        },
        {
            "name": "customer"
        },
        {
            "name": "customerContact"
        },
        {
            "name": "customerLink"
        },
        {
            "name": "customerLocation"
        },
        {
            "name": "customerObject"
        },
        {
            "name": "customerProfile"
        },
        {
            "name": "customerSettings"
        },
        {
            "name": "customerStatus"
        },
        {
            "name": "customerUser"
        },
        {
            "name": "dailyClosingConfig"
        },
        {
            "name": "dashboard"
        },
        {
            "name": "dashboardWidget"
        },
        {
            "name": "department"
        },
        {
            "name": "departmentProfile"
        },
        {
            "name": "docBeeDocument"
        },
        {
            "name": "docBeeDocumentConflict"
        },
        {
            "name": "docBeeDocumentMapView"
        },
        {
            "name": "docBeeDocumentMessage"
        },
        {
            "name": "docBeeDocumentRecurrence"
        },
        {
            "name": "docBeeDocumentSiteConfig"
        },
        {
            "name": "docBeeDocumentTask"
        },
        {
            "name": "docBeeDocumentTaskMaterial"
        },
        {
            "name": "docBeeDocumentTaskPlanningTime"
        },
        {
            "name": "docBeeDocumentTaskWorkLog"
        },
        {
            "name": "docBeeDocumentTemplate"
        },
        {
            "name": "docBeeDocumentTemplateTaskTemplate"
        },
        {
            "name": "docBeeDocumentTemplateTaskTemplateMaterialTemplate"
        },
        {
            "name": "docBeeDocumentTemplateTaskTemplatePlanningTimeTemplate"
        },
        {
            "name": "docBeeDocumentTemplateTaskTemplateWorkLogTemplate"
        },
        {
            "name": "docBeeDocumentTemplateTravelLogTemplate"
        },
        {
            "name": "docBeeDocumentTravelLog"
        },
        {
            "name": "docBeeScript"
        },
        {
            "name": "docBeeScriptParameter"
        },
        {
            "name": "dueDateColor"
        },
        {
            "name": "emailAddress"
        },
        {
            "name": "envVariable"
        },
        {
            "name": "errorLog"
        },
        {
            "name": "exportProfile"
        },
        {
            "name": "exportProfileField"
        },
        {
            "name": "file"
        },
        {
            "name": "invoice"
        },
        {
            "name": "mailParserConfig"
        },
        {
            "name": "mandantSettings"
        },
        {
            "name": "materialItem"
        },
        {
            "name": "message"
        },
        {
            "name": "messageBucket"
        },
        {
            "name": "messageTemplate"
        },
        {
            "name": "mis"
        },
        {
            "name": "mobileNumber"
        },
        {
            "name": "module"
        },
        {
            "name": "note"
        },
        {
            "name": "notification"
        },
        {
            "name": "object"
        },
        {
            "name": "objectCategory"
        },
        {
            "name": "observer"
        },
        {
            "name": "observerCategory"
        },
        {
            "name": "observerType"
        },
        {
            "name": "paymentProfile"
        },
        {
            "name": "paymentProfilePrice"
        },
        {
            "name": "paymentProfileMapping"
        },
        {
            "name": "pdfLayout"
        },
        {
            "name": "permissionGroup"
        },
        {
            "name": "presetProfile"
        },
        {
            "name": "presetValue"
        },
        {
            "name": "priority"
        },
        {
            "name": "priceCalculationBehavior"
        },
        {
            "name": "protocol"
        },
        {
            "name": "protocolDocumentTemplate"
        },
        {
            "name": "protocolEntry"
        },
        {
            "name": "protocolGroup"
        },
        {
            "name": "protocolGroupData"
        },
        {
            "name": "protocolGroupEntries"
        },
        {
            "name": "protocolMapView"
        },
        {
            "name": "protocolPlanningTime"
        },
        {
            "name": "protocolSiteConfig"
        },
        {
            "name": "protocolTemplate"
        },
        {
            "name": "protocolTemplateAction"
        },
        {
            "name": "protocolTemplateComponent"
        },
        {
            "name": "protocolTemplateCondition"
        },
        {
            "name": "protocolTemplateConditionCollection"
        },
        {
            "name": "protocolTemplateElement"
        },
        {
            "name": "protocolTemplateEntry"
        },
        {
            "name": "protocolTemplateEntryStyle"
        },
        {
            "name": "protocolTemplateGroup"
        },
        {
            "name": "protocolTemplateGroupContainer"
        },
        {
            "name": "protocolTemplateGroupEntry"
        },
        {
            "name": "protocolTemplateGroupEntryMapping"
        },
        {
            "name": "protocolTemplateGroupStyle"
        },
        {
            "name": "protocolTemplateProfile"
        },
        {
            "name": "protocolTemplateReaction"
        },
        {
            "name": "protocolTemplateType"
        },
        {
            "name": "queue"
        },
        {
            "name": "report"
        },
        {
            "name": "reportElement"
        },
        {
            "name": "reportParameter"
        },
        {
            "name": "reportTracker"
        },
        {
            "name": "ruleEngineAction"
        },
        {
            "name": "ruleEngineCondition"
        },
        {
            "name": "ruleEngineReaction"
        },
        {
            "name": "ruleEngineSetting"
        },
        {
            "name": "schedulerSiteConfig"
        },
        {
            "name": "search"
        },
        {
            "name": "selectionCategory"
        },
        {
            "name": "selectionValue"
        },
        {
            "name": "serviceProvider"
        },
        {
            "name": "serviceProviderUser"
        },
        {
            "name": "serviceType"
        },
        {
            "name": "serviceTypeProfile"
        },
        {
            "name": "skill"
        },
        {
            "name": "slaProfile"
        },
        {
            "name": "systemStatus"
        },
        {
            "name": "tableConfigStorage"
        },
        {
            "name": "tableConfigStorageSetting"
        },
        {
            "name": "tableConfigStorageType"
        },
        {
            "name": "tag"
        },
        {
            "name": "taskTemplate"
        },
        {
            "name": "taskTemplateMaterialTemplate"
        },
        {
            "name": "taskTemplatePlanningTimeTemplate"
        },
        {
            "name": "taskTemplateWorkLogTemplate"
        },
        {
            "name": "ticket"
        },
        {
            "name": "ticketBoard"
        },
        {
            "name": "ticketBoardColumn"
        },
        {
            "name": "ticketBoardField"
        },
        {
            "name": "ticketBoardFilter"
        },
        {
            "name": "ticketBoardProfile"
        },
        {
            "name": "ticketCategory"
        },
        {
            "name": "ticketLink"
        },
        {
            "name": "ticketLinkType"
        },
        {
            "name": "ticketMailParserConfig"
        },
        {
            "name": "ticketMapView"
        },
        {
            "name": "ticketMessage"
        },
        {
            "name": "ticketRecurrence"
        },
        {
            "name": "ticketReminder"
        },
        {
            "name": "ticketSiteConfig"
        },
        {
            "name": "ticketStatus"
        },
        {
            "name": "ticketTemplate"
        },
        {
            "name": "timer"
        },
        {
            "name": "timeRecord"
        },
        {
            "name": "travelType"
        },
        {
            "name": "usageStatistics"
        },
        {
            "name": "user"
        },
        {
            "name": "userAndQueue"
        },
        {
            "name": "userActivity"
        },
        {
            "name": "userProfile"
        },
        {
            "name": "webhook"
        },
        {
            "name": "workPipe"
        },
        {
            "name": "workingDays"
        }
    ],
    "paths": {
        "\/login": {
            "post": {
                "summary": "Login",
                "description": "Login to get an access token. You need to add the returned access_token with the prefix \"Bearer \" to the Authorization Header. The returned token is valid for the given life time (default 15 minutes) and gets refreshed every request. If the expired date is reached a new token has to be acquired.",
                "operationId": "login",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/LoginCredentials"
                            }
                        }
                    },
                    "description": "Login credientals",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Login data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/LoginResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error"
                    },
                    "401": {
                        "description": "Login was not successful"
                    }
                },
                "tags": [
                    "authorization"
                ]
            }
        },
        "\/logout": {
            "post": {
                "operationId": "logout",
                "summary": "Logout",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "logout"
                    }
                },
                "tags": [
                    "authorization"
                ]
            }
        },
        "\/v1\/ai\/generateMailMessage": {
            "post": {
                "summary": "Generate mail message",
                "description": "Generates a mail message based on the given parameters",
                "operationId": "generateMailMessage",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "requestBody": {
                    "$ref": "#\/components\/requestBodies\/SendPokeMessage"
                },
                "tags": [
                    "ai"
                ],
                "responses": {
                    "200": {
                        "description": "GeneratedMessage data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GeneratedMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/ai\/generateTaskDescription": {
            "post": {
                "summary": "Generate task description",
                "description": "Generates a task description based on the given parameters",
                "operationId": "generateTaskDescription",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GenerateTaskDescription"
                            }
                        }
                    },
                    "description": "Task Data",
                    "required": true
                },
                "tags": [
                    "ai"
                ],
                "responses": {
                    "200": {
                        "description": "GeneratedMessage data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GeneratedMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement": {
            "get": {
                "summary": "Agreement list",
                "operationId": "getAgreementList",
                "description": "Returns a list of agreements",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "customer",
                        "in": "query",
                        "description": "Filter the items by customer",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "customerProfile",
                        "in": "query",
                        "description": "Filter the items by customerProfile",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "customerLocation",
                        "in": "query",
                        "description": "Filter the items by customerLocation",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "agreementCategory",
                        "in": "query",
                        "description": "Filter the items by agreementCategory",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter the items by type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SERVICE",
                                "PROJECT",
                                "INTERNAL"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter the items by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ACTIVE",
                                "INACTIVE",
                                "OVERDUE",
                                "FINISHED"
                            ]
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/customerObjectFilter"
                    },
                    {
                        "$ref": "#\/components\/parameters\/customersFilter"
                    },
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/changedSinceParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/sortingParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/tableSortingParam"
                    }
                ],
                "tags": [
                    "agreement"
                ],
                "responses": {
                    "200": {
                        "description": "Agreement list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "post": {
                "summary": "Add new agreement",
                "description": "Creates a new agreement based on the given parameters and the authenticated user",
                "operationId": "addAgreement",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/NewAgreement"
                            }
                        }
                    },
                    "description": "Agreement Data",
                    "required": true
                },
                "tags": [
                    "agreement"
                ],
                "responses": {
                    "200": {
                        "description": "Agreement data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Agreement"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/{id}": {
            "get": {
                "summary": "Get a single agreement",
                "description": "Gets a specific agreement by id",
                "operationId": "getAgreement",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "agreement"
                ],
                "responses": {
                    "200": {
                        "description": "Agreement data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Agreement"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "put": {
                "summary": "Update agreement",
                "description": "Updates a specific agreement by id with new data",
                "operationId": "updateAgreement",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateAgreement"
                            }
                        }
                    },
                    "description": "New agreement Data"
                },
                "tags": [
                    "agreement"
                ],
                "responses": {
                    "200": {
                        "description": "Changed agreement object",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Agreement"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "delete": {
                "summary": "Delete agreement",
                "description": "Deletes a specific agreement by id",
                "operationId": "deleteAgreement",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "tags": [
                    "agreement"
                ],
                "responses": {
                    "204": {
                        "description": "Successful deleted. No Content."
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/export\/{exportProfileId}": {
            "get": {
                "summary": "Agreement list export",
                "operationId": "getAgreementListExport",
                "description": "Exports a list of agreements by exportProfile",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "exportProfileId",
                        "in": "path",
                        "required": true,
                        "description": "Export Profile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "customer",
                        "in": "query",
                        "description": "Filter the items by customer",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "customerProfile",
                        "in": "query",
                        "description": "Filter the items by customerProfile",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "customerLocation",
                        "in": "query",
                        "description": "Filter the items by customerLocation",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "agreementCategory",
                        "in": "query",
                        "description": "Filter the items by agreementCategory",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter the items by type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SERVICE",
                                "PROJECT",
                                "INTERNAL"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter the items by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ACTIVE",
                                "INACTIVE",
                                "OVERDUE",
                                "FINISHED"
                            ]
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/changedSinceParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/sortingParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/tableSortingParam"
                    }
                ],
                "tags": [
                    "agreement"
                ],
                "responses": {
                    "200": {
                        "description": "Agreement list export",
                        "content": {
                            "application\/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/octet-stream": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/exportByIds\/{exportProfileId}": {
            "post": {
                "summary": "Export agreements",
                "description": "Download export file for multiple agreements",
                "operationId": "agreementExportByIds",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        }
                    },
                    "description": "agreement Ids"
                },
                "tags": [
                    "agreement"
                ],
                "responses": {
                    "200": {
                        "description": "agreement export file",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/slaProfile": {
            "get": {
                "summary": "SlaProfile list",
                "operationId": "getSlaProfileList",
                "description": "Returns a list of slaProfiles",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/sortingParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/tableSortingParam"
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "SlaProfile list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaProfileList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "post": {
                "summary": "Add new slaProfile",
                "description": "Creates a new slaProfile based on the given parameters and the authenticated user",
                "operationId": "addSlaProfile",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/NewSlaProfile"
                            }
                        }
                    },
                    "description": "SlaProfile Data",
                    "required": true
                },
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "slaProfile data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaProfile"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/slaProfile\/{id}": {
            "get": {
                "summary": "Get a single slaProfile",
                "description": "Gets a specific slaProfile by id",
                "operationId": "getSlaProfile",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "SlaProfile data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaProfile"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "put": {
                "summary": "Update slaProfile",
                "description": "Updates a specific slaProfile by id with new data",
                "operationId": "updateSlaProfile",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateSlaProfile"
                            }
                        }
                    },
                    "description": "SlaProfile Data",
                    "required": true
                },
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "SlaProfile data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaProfile"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "delete": {
                "summary": "Delete slaProfile",
                "description": "Deletes a specific slaProfile by id",
                "operationId": "deleteSlaProfile",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "204": {
                        "description": "Successful deleted. No Content."
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/slaProfile\/{slaProfileId}\/specialization": {
            "get": {
                "summary": "Specialization list",
                "description": "Returns a specific list of specializations by slaProfileId",
                "operationId": "getSlaProfileSpecializationList",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "SlaSpecialization list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaSpecializationList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "post": {
                "summary": "Add new specialization",
                "description": "Creates a new specialization based on the given parameters and the authenticated user",
                "operationId": "addSlaProfileSpecialization",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/NewSlaSpecialization"
                            }
                        }
                    },
                    "description": "SlaSpecialization Data",
                    "required": true
                },
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "SlaSpecialization data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaSpecialization"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/slaProfile\/{slaProfileId}\/specialization\/{id}": {
            "get": {
                "summary": "Get a single specialization",
                "description": "Gets a specific specialization by slaProfileId and id",
                "operationId": "getSlaProfileSpecialization",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Specialization identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "Specialization data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaSpecialization"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "put": {
                "summary": "Update specialization",
                "description": "Updates a specific specialization by slaProfileId and id with new data",
                "operationId": "updateSlaProfileSpecialization",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Specialization identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateSlaSpecialization"
                            }
                        }
                    },
                    "description": "Specialization Data",
                    "required": true
                },
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "Specialization data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SlaSpecialization"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "delete": {
                "summary": "Delete specialization",
                "description": "Deletes a specific specialization by id",
                "operationId": "deleteSpecialization",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Specialization identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "204": {
                        "description": "Successful deleted. No Content."
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/slaProfile\/{slaProfileId}\/workingHour": {
            "get": {
                "summary": "WorkingHour list",
                "description": "Returns a specific list of workingHours by slaProfileId",
                "operationId": "getSlaProfileWorkingHourList",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "WorkingHour list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/WorkingHourList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "post": {
                "summary": "Add new workingHour",
                "description": "Creates a new workingHour based on the given parameters and the authenticated user",
                "operationId": "addSlaProfileWorkingHour",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/NewWorkingHour"
                            }
                        }
                    },
                    "description": "WorkingHour Data",
                    "required": true
                },
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "WorkingHour data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/WorkingHour"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/slaProfile\/{slaProfileId}\/workingHour\/{id}": {
            "get": {
                "summary": "Get a single workingHour",
                "description": "Gets a specific workingHour by slaProfileId and id",
                "operationId": "getSlaProfileWorkingHour",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "WorkingHour identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "WorkingHour data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/WorkingHour"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "put": {
                "summary": "Update workingHour",
                "description": "Updates a specific workingHour by slaProfileId and id with new data",
                "operationId": "updateSlaProfileWorkingHour",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "slaProfileId",
                        "in": "path",
                        "required": true,
                        "description": "SlaProfile identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "WorkingHour identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateWorkingHour"
                            }
                        }
                    },
                    "description": "WorkingHour Data",
                    "required": true
                },
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "200": {
                        "description": "WorkingHour data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/WorkingHour"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "delete": {
                "summary": "Delete workingHour",
                "description": "Deletes a specific workingHour by id",
                "operationId": "deleteWorkingHour",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "WorkingHour identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "tags": [
                    "slaProfile"
                ],
                "responses": {
                    "204": {
                        "description": "Successful deleted. No Content."
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreementCategory": {
            "get": {
                "summary": "AgreementCategory list",
                "operationId": "getAgreementCategoryList",
                "description": "Returns a list of agreementCategories",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/sortingParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/tableSortingParam"
                    }
                ],
                "tags": [
                    "agreementCategory"
                ],
                "responses": {
                    "200": {
                        "description": "AgreementCategory list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementCategoryList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "post": {
                "summary": "Add new agreementCategory",
                "description": "Creates a new agreementCategory based on the given parameters and the authenticated user",
                "operationId": "addAgreementCategory",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/NewAgreementCategory"
                            }
                        }
                    },
                    "description": "AgreementCategory Data",
                    "required": true
                },
                "tags": [
                    "agreementCategory"
                ],
                "responses": {
                    "200": {
                        "description": "agreementCategory data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementCategory"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreementCategory\/{id}": {
            "get": {
                "summary": "Get a single agreementCategory",
                "description": "Gets a specific agreementCategory by id",
                "operationId": "getAgreementCategory",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "AgreementCategory identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "agreementCategory"
                ],
                "responses": {
                    "200": {
                        "description": "AgreementCategory data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementCategory"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "put": {
                "summary": "Update agreementCategory",
                "description": "Updates a specific agreementCategory by id with new data",
                "operationId": "updateAgreementCategory",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "AgreementCategory identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateAgreementCategory"
                            }
                        }
                    },
                    "description": "AgreementCategory Data",
                    "required": true
                },
                "tags": [
                    "agreementCategory"
                ],
                "responses": {
                    "200": {
                        "description": "AgreementCategory data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementCategory"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "delete": {
                "summary": "Delete agreementCategory",
                "description": "Deletes a specific agreementCategory by id",
                "operationId": "deleteAgreementCategory",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "AgreementCategory identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "tags": [
                    "agreementCategory"
                ],
                "responses": {
                    "204": {
                        "description": "Successful deleted. No Content."
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/{agreementId}\/component": {
            "get": {
                "summary": "Component list",
                "description": "Returns a specific list of components by agreementId",
                "operationId": "getAgreementComponentList",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "agreementComponent"
                ],
                "responses": {
                    "200": {
                        "description": "Component list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementComponentList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "post": {
                "summary": "Add new component",
                "description": "Creates a new component based on the given parameters and the authenticated user",
                "operationId": "addAgreementComponent",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/NewComponent"
                            }
                        }
                    },
                    "description": "Component Data",
                    "required": true
                },
                "tags": [
                    "agreementComponent"
                ],
                "responses": {
                    "200": {
                        "description": "Component data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Component"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/{agreementId}\/component\/{id}": {
            "get": {
                "summary": "Get a single component",
                "description": "Gets a specific component by agreementId and id",
                "operationId": "getAgreementComponent",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Component identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "agreementComponent"
                ],
                "responses": {
                    "200": {
                        "description": "Component data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Component"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "put": {
                "summary": "Update component",
                "description": "Updates a specific component by agreementId and id with new data",
                "operationId": "updateAgreementComponent",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Component identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateComponent"
                            }
                        }
                    },
                    "description": "Component Data",
                    "required": true
                },
                "tags": [
                    "agreementComponent"
                ],
                "responses": {
                    "200": {
                        "description": "Component data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Component"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "delete": {
                "summary": "Delete component",
                "description": "Deletes a specific component by id",
                "operationId": "deleteComponentItem",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "component identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "tags": [
                    "agreementComponent"
                ],
                "responses": {
                    "204": {
                        "description": "Successful deleted. No Content."
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/{agreementId}\/invoice": {
            "get": {
                "summary": "Invoice list",
                "description": "Returns a specific list of invoices by agreementId",
                "operationId": "getAgreementInvoiceList",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "agreementInvoice"
                ],
                "responses": {
                    "200": {
                        "description": "Invoice list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementInvoiceList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/{agreementId}\/invoice\/{id}": {
            "get": {
                "summary": "Get a single invoice",
                "description": "Gets a specific invoice by agreementId and id",
                "operationId": "getAgreementInvoice",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Invoice identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "agreementInvoice"
                ],
                "responses": {
                    "200": {
                        "description": "Invoice data",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementInvoice"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            }
        },
        "\/v1\/agreement\/{agreementId}\/period": {
            "get": {
                "summary": "Period list",
                "description": "Returns a specific list of periods by agreementId",
                "operationId": "getAgreementPeriodList",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/limitParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/offsetParam"
                    },
                    {
                        "$ref": "#\/components\/parameters\/fieldsParam"
                    }
                ],
                "tags": [
                    "agreementPeriod"
                ],
                "responses": {
                    "200": {
                        "description": "Period list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgreementPeriodList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized error"
                    }
                }
            },
            "post": {
                "summary": "Add new period",
                "description": "Creates a new period based on the given parameters and the authenticated user",
                "operationId": "addAgreementPeriod",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agreementId",
                        "in": "path",
                        "required": true,
                        "description": "Agreement identifier",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
[...]
